/* Add this CSS at the end of your existing stylesheet */
.custom-cursor {
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    mix-blend-mode:invert;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: scale .7s ease-in-out, transform .1s ease-in-out;
    background-image: url('../../assets/photos/family-blue2.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.8;
  }


  .inactive {
    scale: 0;
}